<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{objectCounts.total}}</span></div>
   <div>Space Debris: <span>{{objectCounts.debris}}</span></div>
   <div>Communication: <span>{{objectCounts.comms}}</span></div>
   <div>Probe: <span>{{objectCounts.probes}}</span></div>
   <div>Positioning: <span>{{objectCounts.positioning}}</span></div>
   <div>Space Station: <span>{{objectCounts.spaceStations}}</span></div>
   <div>Telescope: <span>{{objectCounts.telescopes}}</span></div>
</div>